<% @articles.each do |art| %>
	<div class="block">
	<h2><%=art.title%></h2>
	<p><%=art.text%></p>
	<br />
	<%= link_to "Show", article_path(art) %> <%= link_to "Edit", edit_article_path(art) %> <%= link_to "Delete", article_path(art), method: :delete %>
	</div>
	<hr/>
<% end %>