

<div class="container">
<h1><%= @article.title %></h1>

<p> <%= @article.text%></p>
<p></p>

</div>


<div class="container">
 <div class="row">
 <div class="col-md-8">
<div class="comments-list">
   
			<% @article.comments.each do |comment| %>
			<hr/>
			<div class="media">
			<p class="pull-right"><small><%= comment.created_at.strftime("Posted at %d %b. %Y") %></small>
			</p>
			<a class="media-left" href="#">
                <img src="http://lorempixel.com/40/40/people/<%= a=rand(10)%>/">
            </a>
            <div class="media-body">
			<h4 class="media-heading user_name"><%=comment.author%></h4>
			<%=comment.body%>

			<p><small><a href="">Like</a> - <a href="">Share</a></small></p>
			</div>
			</div>

			<% end %>
</div>
</div>
</div>
</div>

<hr/>
<% if user_signed_in? %>
<%= form_for ([@article, @article.comments.build]), :html => {:class => 'form-group'}  do |f| %>
<div class="container">
<strong>Write a comment!</strong>
<p></p>
		
		<%= f.hidden_field :author, :value => current_user.username  %>

		<%= f.text_area :body, :class => "form-control", :rows => "3", :placeholder=>"Write a comment...", :title=>"Write a comment..."  %>
	

	<p>	
		<%= f.submit %>
	</p>
	</div>
	<hr/>
<% end %>
<% else %>
 <br/>
 <% end %>
