<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

</head>

<body>
<nav class="menu">
  <h1 class="name"><i class="fi-widget"></i> MY BLOG</a></h1>
  <ul class="inline-list">
    <li><a href="/articles">Home</a></li>
    <li class="active"><a href="/articles/new">New Article</a></li>
    <li><a href="/contacts">Contacts</a></li>
  </ul>
  <ul class="inline-list hide-for-small-only account-action">
    <li><% if user_signed_in? %>
  <li style = "color:white">Hello, <%= current_user.username %> </li>
  <%= link_to  'Sign Out', destroy_user_session_path, :class => "signup", data: { confirm: 'Are you certain you want sign out?' }, :method => :delete %></li>
    <li class="">
    <% else %>
    <%= link_to  'Sign In', new_user_session_path, :class => "signup" %> 
   <% end %>
    </li>
  </ul>
  
</nav>


 

<div class="container">
	<% if notice && notice.length > 0 || alert && alert.length > 0%>	
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <% else %>
 <p></p>	
<% end %>
<br/>
<%= yield %>
<br/>
</div>
</div> 

</body>
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 medium-push-6 columns">
      <p class="logo show-for-small-only"><i class="fi-target"></i> My BLOG</p> 
      <form class="footer-form">
        <div class="row">
          <div class="medium-9 medium-push-3 columns">
            <label>
              <label for="email" class="contact">Contact Us</label>
              <input type="email" id="email" placeholder="Email Address" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-9 medium-push-3 columns">
            <label>
              <textarea rows="5" id="message" placeholder="Message"></textarea>
            </label>
          </div>
          <div class="row">
            <div class="medium-9 medium-push-3 columns">
              <button class="submit" type="submit" value="Submit">Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="small-12 medium-6 medium-pull-6 columns">
      <p class="logo hide-for-small-only"><i class="fi-target"></i> My BLOG</p> 
      <p class="footer-links">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">Pricing</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a>
      </p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-linkedin"></i></a>
        <a href="#"><i class="fi-social-github"></i></a>
      </ul>
      <p class="copywrite">Copywrite not copywrite © 2015</p>
    </div>
  </div>
</footer>
</html>
