<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
<div class="container">
<ol class="breadcrumb">
  <li><a href="/articles">Home </a></li>
  <li><a href="/articles/new">/ New</a></li>
  <li><a href="/contacts"> / Contacts</a></li>
<!--   <ol class="breadcrumb" style="text-align:right"> -->
  <div style="text-align:right"> <a href="/users/sign_out" data-method = "delete"  class="navbar-link"> Sign Out</a> | <a href="/users/sign_in"  class="navbar-link">Sign In </a> </div>
 <!--  </ol> -->
 </div>
 

<div class="container">

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>
</div>
</div>

</body>
</html>
