<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
<div class="container">
<ol class="breadcrumb">
  <li><a href="/articles">Home </a></li>
  <li><a href="/articles/new">/ New</a></li>
  <li><a href="/contacts"> / Contacts</a></li>
  </ol>
  </div>
<div>  

<div class="container">

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>
</div>
</div>

</body>
</html>
